* {
    font-family: Courier, monospace;
    text-align: center;
    color: white;
}

h1 {
	font-size: 4em;
	color: #20222A;
	text-align: center;
}

h2 {
	text-shadow: 1px 2px 3px black;
}

a {
	text-decoration: none;
	color: white;
}

.center {
	background-color: #01aae8;
	border-radius: 5px;
}

/* navigation */
ul {
    padding-top: 15px;
}

li.navBar {
    display: inline;
    padding: 20px 2px;
    margin-right: 1px;
    font-size: 1.5em;
    border-radius: 25px;
    box-shadow: inset 1px 2px 1px #60a0df;
}

/*this is separated from above so that the bg color can be changed*/
li {
	background-color: #2a334f;
}

.orange {
	background-color: orange;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}




